<app-toolbar></app-toolbar>

<div class="container">

    <div class="row align-items-start">
        <div class="col">
            Expediente:

            <div class="input-group mb-3" style="width: 80%;">
                <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
            </div>
        </div>
        <div class="col">

            Número de la resolución
            <div class="input-group mb-3" style="width: 80%;">
                <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
            </div>

        </div>
        <div class="col">
            <div>&nbsp;</div>
            <button type="button" class="btn btn-primary">Buscar licencia</button>
        </div>
    </div>
    <div class="tamañotabla">
        <h3> Resultado de la búsqueda </h3>
        <table class="table table table-striped  mat-elevation-z8 ">
            <thead>

            </thead>
            <tbody>

                <tr>
                    <th scope="row"></th>
                    <td> - Expediente: </td>
                    <td>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" aria-label="Username"
                                aria-describedby="basic-addon1">
                        </div>
                    </td>
                    <td> - Fecha Acto Administrativo que modifica: </td>
                    <td>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" aria-label="Username"
                                aria-describedby="basic-addon1">
                        </div>
                    </td>
                </tr>


                <tr>
                    <th scope="row"></th>
                    <td> - Importador: </td>
                    <td>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" aria-label="Username"
                                aria-describedby="basic-addon1">
                        </div>
                    </td>
                    <td> - Tipo de importador: </td>
                    <td>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" aria-label="Username"
                                aria-describedby="basic-addon1">
                        </div>
                    </td>
                </tr>


                <tr>
                    <th scope="row"></th>
                    <td> - Acto Administrativo No: </td>
                    <td>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" aria-label="Username"
                                aria-describedby="basic-addon1">
                        </div>
                    </td>
                    <td> - Producto / Proveedor: </td>
                    <td>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" aria-label="Username"
                                aria-describedby="basic-addon1">
                        </div>
                    </td>
                </tr>


                <tr>
                    <th scope="row"></th>
                    <td> - Fecha Acto Administrativo: </td>
                    <td>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" aria-label="Username"
                                aria-describedby="basic-addon1">
                        </div>
                    </td>
                    <td> - Pais de Procedencia: </td>
                    <td>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" aria-label="Username"
                                aria-describedby="basic-addon1">
                        </div>
                    </td>
                </tr>


                <tr>
                    <th scope="row"></th>
                    <td> - Acto Administrativo que modifica:: </td>
                    <td>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" aria-label="Username"
                                aria-describedby="basic-addon1">
                        </div>
                    </td>
                    <td> - Estado: </td>
                    <td>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" aria-label="Username"
                                aria-describedby="basic-addon1">
                        </div>
                    </td>
                </tr>

            </tbody>
        </table>

        <div style="margin-top: 5%;">



            <div>
                <div style="text-align:center">
                    <table class="table table table-striped ">
                        <h2>CAMBIO MENOR / ORDINARIO</h2>
                    </table>


                </div>
                <table class="table table table-striped mat-elevation-z8">

                    <thead>

                        <tr>

                            <th scope="col"></th>
                            <th scope="col">CAMBIO MENOR </th>
                            <th scope="col">FECHA CAMBIO</th>
                            <th scope="col">PRODUCTOR / PROVEEDOR </th>
                            <th scope="col">PAIS DE PROCEDENCIA </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row"></th>
                            <td>XXXXXXX</td>
                            <td>08/05/2023</td>
                            <td>CENTA (HK) LIMITED ZENGO / INTERNATIONAL LTD</td>
                            <td>CHINA</td>

                        </tr>

                    </tbody>
                </table>

            </div>

        </div>

        <div style="margin-top: 5%;">


            <div>
                <div style="text-align:center">
                    <table class="table table table-striped ">
                        <h2>HCFC CUPO ANUAL (KG)</h2>
                    </table>

                </div>
                <table class="table table table-striped mat-elevation-z8">

                    <tbody>
                        <tr>
                            <th scope="row"></th>
                            <td>HCFC-22</td>
                            <td>8292.25</td>
                            <td>HCFC-22</td>
                            <td>HCFC-22</td>

                        </tr>

                    </tbody>
                </table>

            </div>


        </div>
        <div style="margin-top: 5%;">


            <div>
                <div style="text-align:center">
                    <table class="table table table-striped ">
                        <h2>Listado de Licencias</h2>
                    </table>
    
                </div>
                <table class="table table table-striped mat-elevation-z8">
                    <thead>

                        <tr>

                            <th scope="col"></th>
                            <th scope="col">CAMBIO MENOR </th>
                            <th scope="col">FECHA CAMBIO</th>
                            <th scope="col">PRODUCTOR / PROVEEDOR </th>
                            <th scope="col">PAIS DE PROCEDENCIA </th>
                        </tr>
                    </thead>
    
                    <tbody>
                        <tr *ngFor="let item of data">
                            <th scope="row"></th>
                            <td>{{item.nroExpediente}}</td>
                            <td>{{item.fechaActoAdtvo}}</td>
                            <td>{{item.nombreImportador}}</td>
                            <td>{{item.paisProcedencia}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>


</div>