<app-toolbar></app-toolbar>
<app-spinner *ngIf="loading"></app-spinner>

<div class="container">

    <div style="margin-top: 5%;">
        <div>
            <div style="text-align:center">
                <h3>Listado de Licencias</h3>
            </div>
            <!--filtrado de la tabla-->
            <mat-form-field>
                <mat-label>Filtro</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Buscar..." #input autocomplete="off">
            </mat-form-field>

            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

                <!--- Note that these columns can be defined in any order.
                    The actual rendered columns are set as a property on the row definition" -->

                <!-- Position Column -->
                <ng-container matColumnDef="Expediente">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Expediente </th>
                    <td mat-cell *matCellDef="let element"> {{element.nroExpediente}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="Nombre Importador">
                    <th mat-header-cell *matHeaderCellDef> Nombre Importador </th>
                    <td mat-cell *matCellDef="let element"> {{element.importadorId}} </td>
                </ng-container>

                <ng-container matColumnDef="Nit Empresa">
                    <th mat-header-cell *matHeaderCellDef> Nit Empresa </th>
                    <td mat-cell *matCellDef="let element"> {{element.nitEmpresa}} </td>
                </ng-container>

                <ng-container matColumnDef="Pais Procedencia">
                    <th mat-header-cell *matHeaderCellDef> Pais Procedencia </th>
                    <td mat-cell *matCellDef="let element"> {{element.paisProcedencia}} </td>
                </ng-container>


                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 15, 30]" showFirstLastButtons
                aria-label="Select page of periodic elements">
            </mat-paginator>
        </div>
    </div>

    <div class="row align-items-start">
        <!-- <div class="col">
            Expediente:

            <div class="input-group mb-3" style="width: 80%;">
                <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
            </div>
        </div>
        <div class="col">

            Número de la resolución
            <div class="input-group mb-3" style="width: 80%;">
                <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
            </div>

        </div>
        <div class="col">
            <div>&nbsp;</div>
            <button type="button" class="btn btn-primary">Buscar licencia</button>
        </div>
    </div> -->
    <div class="tamañotabla">
        <h3> Resultado de la búsqueda </h3>
        <table class="table table table-striped  mat-elevation-z8 ">
            <thead>
            </thead>
            <tbody>
                <tr>
                    <th scope="row"></th>
                    <td> - Expediente: </td>
                    <td>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" aria-label="Username"
                                aria-describedby="basic-addon1">
                        </div>
                    </td>
                    <td> - Fecha Acto Administrativo que modifica: </td>
                    <td>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" aria-label="Username"
                                aria-describedby="basic-addon1">
                        </div>
                    </td>
                </tr>


                <tr>
                    <th scope="row"></th>
                    <td> - Importador: </td>
                    <td>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" aria-label="Username"
                                aria-describedby="basic-addon1">
                        </div>
                    </td>
                    <td> - Tipo de importador: </td>
                    <td>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" aria-label="Username"
                                aria-describedby="basic-addon1">
                        </div>
                    </td>
                </tr>


                <tr>
                    <th scope="row"></th>
                    <td> - Acto Administrativo No: </td>
                    <td>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" aria-label="Username"
                                aria-describedby="basic-addon1">
                        </div>
                    </td>
                    <td> - Producto / Proveedor: </td>
                    <td>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" aria-label="Username"
                                aria-describedby="basic-addon1">
                        </div>
                    </td>
                </tr>


                <tr>
                    <th scope="row"></th>
                    <td> - Fecha Acto Administrativo: </td>
                    <td>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" aria-label="Username"
                                aria-describedby="basic-addon1">
                        </div>
                    </td>
                    <td> - Pais de Procedencia: </td>
                    <td>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" aria-label="Username"
                                aria-describedby="basic-addon1">
                        </div>
                    </td>
                </tr>


                <tr>
                    <th scope="row"></th>
                    <td> - Acto Administrativo que modifica:: </td>
                    <td>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" aria-label="Username"
                                aria-describedby="basic-addon1">
                        </div>
                    </td>
                    <td> - Estado: </td>
                    <td>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" aria-label="Username"
                                aria-describedby="basic-addon1">
                        </div>
                    </td>
                </tr>

            </tbody>
        </table>

        <div style="margin-top: 5%;">
            <div>
                <div style="text-align:center">
                    <table class="table table table-striped ">
                        <h2>CAMBIO MENOR / ORDINARIO</h2>
                    </table>


                </div>
                <table class="table table table-striped mat-elevation-z8">

                    <thead>

                        <tr>

                            <th scope="col"></th>
                            <th scope="col">CAMBIO MENOR </th>
                            <th scope="col">FECHA CAMBIO</th>
                            <th scope="col">PRODUCTOR / PROVEEDOR </th>
                            <th scope="col">PAIS DE PROCEDENCIA </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row"></th>
                            <td>XXXXXXX</td>
                            <td>08/05/2023</td>
                            <td>CENTA (HK) LIMITED ZENGO / INTERNATIONAL LTD</td>
                            <td>CHINA</td>

                        </tr>

                    </tbody>
                </table>

            </div>

        </div>

        <div style="margin-top: 5%;">


            <div>
                <div style="text-align:center">
                    <table class="table table table-striped ">
                        <h2>HCFC CUPO ANUAL (KG)</h2>
                    </table>

                </div>
                <table class="table table table-striped mat-elevation-z8">

                    <tbody>
                        <tr>
                            <th scope="row"></th>
                            <td>HCFC-22</td>
                            <td>8292.25</td>
                            <td>HCFC-22</td>
                            <td>HCFC-22</td>

                        </tr>

                    </tbody>
                </table>

            </div>


        </div>
        
    </div>


</div>