<section id="sp-barra-azul">

    <div class="container">
        <div class="container-inner">
            <div class="row">
                <div id="sp-user1" class="col-lg-12 ">
                    <div class="sp-column ">
                        <div class="sp-module ">
                            <div class="sp-module-content">
                                <div id="mod-custom110" class="mod-custom custom">
                                    <section>
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8 col-xxl-8"><a
                                                        href="https://www.gov.co/home" target="_blank" rel="noopener"
                                                        title="Enlace a pagina web de GOV.CO"><img
                                                            src="../../assets/img/logo-bog.gov.co.png" alt="Logo gov.co"
                                                            width="85" height="20" class="my-auto d-block"
                                                            loading="lazy"
                                                            data-path="local-images:/logos/entidad/logo-bog.gov.co.png"></a>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<section id="sp-logo-anla-buscar">

    <div class="container">
        <div class="container-inner">
            <div class="row">
                <div id="sp-user2" class="col-12 col-lg-3 ">
                    <div class="sp-column ">
                        <div class="sp-module ">
                            <div class="sp-module-content">
                                <div id="mod-custom112" class="mod-custom custom">
                                    <section>
                                        <div class="container">
                                            <div><img src="../../assets/img/logo_ambiente.png"
                                                    alt="Logo Anla y logo Minambiente" width="180" height="80"
                                                    class="my-auto d-block" title="Logo Anla - Minambiente"
                                                    loading="lazy"
                                                    data-path="local-images:/logos/entidad/logo-anla-minambiente.png">
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="sp-search" class="col-12 col-lg-6 ">
                    <div class="sp-column ">
                        <div class="sp-module ">
                            <div class="sp-module-content">

                            </div>
                        </div>
                    </div>
                </div>
                <div id="sp-position3" class="col-lg-3 ">
                    <div class="sp-column ">
                        <div class="sp-module ">
                            <div class="sp-module-content">
                                <div id="mod-custom459" class="mod-custom custom">
                                    <section>
                                        <div class="container">
                                            <div><img src="../../assets/img/logo-anla.png" alt="Logo ANLA" width="146"
                                                    height="80" class="my-auto d-block" loading="lazy"
                                                    data-path="local-images:/logos/entidad/logo-anla.png"></div>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<nav class="navbar navbar-expand-lg navbar-light bg-light ">

    <div class="collapse navbar-collapse mt-05" id="navbarNav" style="justify-content: center;">
        <ul class="navbar-nav " style="margin-top: 1%;">
            <li class="nav-item active">
                <button mat-button routerLink="/search-licence" routerLinkActive="active"><mat-icon>search</mat-icon> Buscar Licencia</button>
            </li>
            <li class="nav-item">
                <button mat-button routerLink="/edit-licence" routerLinkActive="active"><mat-icon>edit</mat-icon>Modificar Licencia</button>
            </li>
            <li class="nav-item">
                <button mat-button routerLink="/add-license" routerLinkActive="active"><mat-icon>note_add</mat-icon>Agregar Licencia</button>
            </li>
            <li class="nav-item">
                <button mat-button routerLink="/substance" routerLinkActive="active"> <mat-icon>note_add</mat-icon>Agregar Sustancia</button>
            </li>
            <li class="nav-item">
                <button mat-button routerLink="/importer" routerLinkActive="active"> <mat-icon>business</mat-icon>Importador</button>
            </li>
            <li class="nav-item">
                <button mat-button routerLink="/update-year" routerLinkActive="active"> <mat-icon>history</mat-icon>Actualización Anual</button>
            </li>
            <li class="nav-item">
                <button mat-button routerLink="/discounts" routerLinkActive="active"><mat-icon>sync</mat-icon> Descuentos</button>
            </li>
                <ng-container *ngIf = 'sessionRole == 3'>
                
            <li ngbDropdown class="nav-item">
                <button  mat-button type="button" class="nav-link" ngbDropdownToggle><mat-icon>manage_accounts</mat-icon>Administración</button>
                <div ngbDropdownMenu>
                    <li class="nav-item">
                        <button mat-button routerLink="/users" routerLinkActive="active"><mat-icon>perm_identity</mat-icon> Usuarios</button>
                    </li>
                    <li class="nav-item">
                        <button mat-button routerLink="/logs" routerLinkActive="active"><mat-icon>info</mat-icon> Registro</button>
                    </li>
                    <li class="nav-item">
                        <button mat-button routerLink="/notification" routerLinkActive="active"><mat-icon>feedback</mat-icon> Notificaciones</button>
                    </li>
                </div>
            </li>
            </ng-container>
            <li class="nav-item">
                <button mat-button (click)="logout()"><mat-icon>logout</mat-icon> Cerrar sesión</button>
            </li>
            
        </ul>
    </div>
</nav>





