<app-toolbar></app-toolbar>

<div class="container">
    <div class="tamañotabla">

        <h3> Registro de Usuarios </h3>
        
        <div class="form-add-license">
            <form class="form-control" autocomplete="off" [formGroup]="addUsersForm" (ngSubmit)="onSaveUser()">
                <div class="form-group row">
                    <label for="staticEmail" class="col-sm-3 col-form-label">identificacion</label>
                    <div class="col-sm-9">
                        <div class="input-group mb-3">
                            <input type="number" class="form-control" formControlName="identificacion">
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="staticEmail" class="col-sm-3 col-form-label">Cuenta:</label>
                    <div class="col-sm-9">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" formControlName="usuarioCuenta">
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="staticEmail" class="col-sm-3 col-form-label">Nombre:</label>
                    <div class="col-sm-9">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" formControlName="nombres">
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="staticEmail" class="col-sm-3 col-form-label">Apellido:</label>
                    <div class="col-sm-9">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" formControlName="apellido">
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="staticEmail" class="col-sm-3 col-form-label">Correo:</label>
                    <div class="col-sm-9">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" formControlName="correo">
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="staticEmail" class="col-sm-3 col-form-label">Estado:</label>
                    <div class="col-sm-9">
                        <select class="form-control mb-3" formControlName="activo">
                            <option>Activo</option>
                            <option>Inactivo</option>
                        </select>
                    </div>
                </div>
                <div class="botonlr">
                    <button type="submit" class="btn btn-primary">Agregar Usuario</button>
                </div>
            </form>
        </div>
        <div style="margin-top: 3%;">
            <div>
                <div style="text-align:center">
                        <h3>LISTADO USUARIOS</h3>
                </div>

                <table datatable [dtOptions]="dtoptions" [dtTrigger]="dtTrigger"
                    class="table table-striped row-border hover">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">CUENTA </th>
                            <th scope="col">IDENTIFICACION</th>
                            <th scope="col">CORREO</th>
                            <th scope="col">ESTADO</th>
                            <th scope="col">ACCION</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of users">
                            <th scope="row"></th>
                            <td>{{item.usuarioCuenta}}</td>
                            <td>{{item.identificacion}}</td>
                            <td>{{item.correo}}</td>
                            <td>{{item.activo}}</td>
                            <th><a class="btn btn-primary btn-sm" routerLink="/update-users/{{item.id}}"> Editar</a>
                            </th>
                        </tr>
                    </tbody>
                </table>
    </div>
</div>