<app-toolbar></app-toolbar>

<div class="container">
    <div class="tamañotabla">

<h3> Sustancia </h3>
        <table class="table table table-striped  mat-elevation-z8 ">
            <thead>
            </thead>
            <tbody>
                <tr>
                    <th scope="row"></th>
                    <td> - Sustancia: </td>
                    <td>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" aria-label="Username"
                                aria-describedby="basic-addon1">
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row"></th>
                    <td> - Subpartida: </td>
                    <td>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" aria-label="Username"
                                aria-describedby="basic-addon1">
                        </div>
                    </td>
                </tr>


                <tr>
                    <th scope="row"></th>
                    <td> - Tipo: </td>
                    <td>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" aria-label="Username"
                                aria-describedby="basic-addon1">
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row"></th>
                    <td> - Descripción: </td>
                    <td>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" aria-label="Username"
                                aria-describedby="basic-addon1">
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="botonlr" >
            <button type="button" class="btn btn-primary">Agregar Sustancia</button>
        </div>
        <div style="margin-top: 5%;"> 
            
            <div>
                <div  style="text-align:center">
                    <table class="table table table-striped "> 
                        <h2>SUSTANCIAS</h2>
                    </table>
                    
                </div>
                <table class="table table table-striped mat-elevation-z8">
                    
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">SUSTANCIA </th>
                            <th scope="col">SUBPARTIDA</th>
                            <th scope="col">TIPO</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row"></th>
                            <td>HCFC-22</td>
                            <td>8000000016884</td>
                            <td>HCFC</td>
                        </tr>
                    </tbody>
                </table>
                <div class="botonlr">
                    <div style="margin: 10px;">
                        <button type="button" class="btn btn-danger">Eliminar</button>
                    </div>
                    <div style="margin: 10px;">
                        <button type="button" class="btn btn-primary">Guardar</button>
                    </div>
                    <div style="margin: 10px;">
                        <button type="button" class="btn btn-outline-primary">Añadir</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
