

#sp-barra-azul {
  background-color: #3366CC;
  padding: 8px 0px 8px 0px;
}

#sp-logo-anla-buscar {
  padding: 20px 0px 20px 0px;
}

.h-100 {
  height: 100%!important;
}

.col-lg-5 {
  flex: 0 0 auto;
  width: 41.6666666667%;
}



