<section id="sp-barra-azul">

    <div class="container">
        <div class="container-inner">


            <div class="row">
                <div id="sp-user1" class="col-lg-12 ">
                    <div class="sp-column ">
                        <div class="sp-module ">
                            <div class="sp-module-content">
                                <div id="mod-custom110" class="mod-custom custom">
                                    <section>
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8 col-xxl-8"><a
                                                        href="https://www.gov.co/home" target="_blank" rel="noopener"
                                                        title="Enlace a pagina web de GOV.CO"><img
                                                            src="../../assets/img/logo-bog.gov.co.png" alt="Logo gov.co"
                                                            width="85" height="20" class="my-auto d-block"
                                                            loading="lazy"
                                                            data-path="local-images:/logos/entidad/logo-bog.gov.co.png"></a>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<section id="sp-logo-anla-buscar">

    <div class="container">
        <div class="container-inner">


            <div class="row">
                <div id="sp-user2" class="col-12 col-lg-3 ">
                    <div class="sp-column ">
                        <div class="sp-module ">
                            <div class="sp-module-content">
                                <div id="mod-custom112" class="mod-custom custom">
                                    <section>
                                        <div class="container">
                                            <div><img src="../../assets/img/logo_ambiente.png"
                                                    alt="Logo Anla y logo Minambiente" width="180" height="80"
                                                    class="my-auto d-block" title="Logo Anla - Minambiente"
                                                    loading="lazy"
                                                    data-path="local-images:/logos/entidad/logo-anla-minambiente.png">
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="sp-search" class="col-12 col-lg-6 ">
                    <div class="sp-column ">
                        <div class="sp-module ">
                            <div class="sp-module-content">

                            </div>
                        </div>
                    </div>
                </div>
                <div id="sp-position3" class="col-lg-3 ">
                    <div class="sp-column ">
                        <div class="sp-module ">
                            <div class="sp-module-content">
                                <div id="mod-custom459" class="mod-custom custom">
                                    <section>
                                        <div class="container">
                                            <div><img src="../../assets/img/logo-anla.png" alt="Logo ANLA" width="146"
                                                    height="80" class="my-auto d-block" loading="lazy"
                                                    data-path="local-images:/logos/entidad/logo-anla.png">
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="h-100">

    <div class="container h-100">
        <div class="row justify-content-sm-center h-100">
            <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">

                <div class="card shadow-lg">
                    <div class="card-body p-5">
                        <h1 class="fs-4 card-title fw-bold mb-4">Herramienta Control de Cupos</h1>
                        <form (ngSubmit)="onLogin()" #loginForm="ngForm" class="needs-validation" novalidate=""
                            autocomplete="off">

                            <!--       <div class="btn_group">
        <mat-button-toggle-group name="btn_group" aria-label="Font Style">
            <mat-button-toggle value="bold" routerLink="/register" >Registrarse</mat-button-toggle>
            <mat-button-toggle value="underline" disabled >Iniciar Sesion</mat-button-toggle>
        </mat-button-toggle-group>
        </div> -->

                            <div class="mb-3 form-label">
                                <label class="mb-2 text-muted" for="email">Usuario</label>
                                <br>
                                <input matInput [(ngModel)]="username" name="username" type="email" class="form-control"
                                    value="" required autofocus>
                                <div class="invalid-feedback">
                                    User is invalid
                                </div>

                            </div>


                            <div class="mb-3">
                                <div class="mb-2 w-100">
                                    <label class="text-muted" for="password">Contraseña</label>
                                </div>
                                <input type="password" [(ngModel)]="password" name="password" class="form-control"
                                    required>
                                <div class="invalid-feedback">
                                    Password is required
                                </div>
                            </div>
                            <div class="d-flex align-items-center">
                                <div class="form-check">
                                    <input type="checkbox" name="remember" id="remember" class="form-check-input">
                                    <label for="remember" class="form-check-label">Recordar</label>
                                </div>
                                <button class="btn btn-primary ms-auto" type="submit"
                                    [disabled]="!loginForm.form.valid">Ingresar</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>